{% extends 'main/layout.html'%}

{% load static %}

{% block title %}About us{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
<section class="about" id="about">
            <div class="container">
                <div class="about_row">
                    <div class="about_text">

                        <h1 class="about_title">About Us</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br> do eiusmod tempor incididunt ut labore et dolore magna<br> aliqua. Ut enim ad minim veniam</p>

                    </div>
            </div>
        </section>

        <section class="about1" id="about1">
            <div class="container">
                <div class="about1_row">

                    <div class="aboutt">
                        <div class="about1_img">
                            <img height="300px"; width="540px" src="{% static 'main/images/salon.jpg' %}" alt="">
                        </div>
                    <div class="about1_text">

                        <p style="font-size: 12px;">ABOUT US</p>

                        <h1 class="about1_title">Why Beauty Way is the best<br>choice to became more bautiful</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> veniam,quis nostrudexercitation ullamco laboris nisi ut aliquip ex ea commodo</p>


                    </div>
                    </div>
            </div>

            </div>

        </section>

        <section class="hist" id="hist">
            <div class="container">
                <div class="hist_row">
                    <div class="hist_text">

                        <p style="font-size: 12px;">HISTORY</p>

                        <h1 class="about1_title">Why Beauty Way is the best<br>choice to became more bautiful</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> veniam,quis nostrudexercitation ullamco laboris nisi ut aliquip ex ea commodo</p>


                    </div>
                    <div class="hist_img">
                        <img height="300px"; width="540px" src="{% static 'main/images/salonn.jpg' %}" alt="">
                    </div>
                    </div>
            </div>

            </div>

        </section>

{% endblock %}